.character {
  list-style-type: none;
  background: #232222;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &__img {
    width: 200px;
    height: 200px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__name {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 15px 15px 0 15px;
  }
  &_active {
    filter: drop-shadow(0px 5px 20px #9f0013);
    transform: translateY(-9px);
  }
}
