.comics-banner {
  background: #232222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 100px;
  padding: 0 25px 0 45px;
  &__main {
    display: flex;
    align-items: center;
    gap: 83px;
  }
  &__avengers {
    max-width: 152px;
    height: 100%;
    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title {
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    width: 235px;
  }
  &__logo {
    max-width: 132px;
    height: 100%;
    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
